* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.desktop {
  width: 100%;
  height: 100%;
  background: url("image/wallpaper.jpg") center/cover no-repeat;
}

.taskbar-frame {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 64px;
  border: none;
}
